.bag-items-containers {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-pages {
  width: 75%;
  margin-left: 12.5%;
}
.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}


.payment_details{
    width:60%;
    height: 50px;
    border: 2px solid rgb(234, 213, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-style: italic;
    color: rgb(78, 51, 79);
    
    background-color: rgb(243, 232, 242);
  }
  .button{
    height: 70%;
    margin:5px;
    border: 3px solid rgb(211, 142, 219);
    width:75px;
    border-radius: 30px;
    
    color: rgb(0, 0, 0);
    background-color: rgb(197, 142, 123);
  }
  .continue_to_payment{
    display: flex;
    align-items: center;
    color: #282c3f;
    font-size: 20px;
    font-weight: 80px;
  }

  .continueShopping{
    height: 30px;
    width:200px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(249, 83, 147);
    background-color: rgb(241, 206, 206);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600px;
    cursor: pointer;
    text-decoration:dotted;
  }